@font-face {
  font-family: "EaSans";
  src: local(EASansCurves-Regular);
  src: font-url("EASansCurves-Regular.woff") format("woff"),
      font-url("EASansCurves-Regular.ttf") format("truetype");
  font-weight: 300;
}
