.card.hero-card {
  margin-top: -70px;
  .hero-image {
    height: 240px;
    background-size: cover;
    background-position: 0 100%;
    background-image: asset-url("ss-140611-brazil-world-cup-stadiums-14.jpg")
  }
}
